div{
    display: flex;
   
}
#a{
    background-color: gray;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px;
}
#b{
    background-color: gray;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px;
}
#c{
    background-color: gray;
    -webkit-border-bottom-right-radius: 16px;
    -moz-border-radius-bottomright: 16px;
    border-bottom-right-radius: 16px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px; 
}
#d{
   margin-top: 10px;
   margin-right: 20px;
   background-color: gray;
   padding: 10px 40px 10px 40px;
   -webkit-border-radius: 6px;
    -webkit-border-top-right-radius: 24px;
    -webkit-border-bottom-left-radius: 24px;
    -moz-border-radius: 6px;
    -moz-border-radius-topright: 24px;
    -moz-border-radius-bottomleft: 24px;
    border-radius: 6px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
#e{
    margin-top: 10px;
    margin-right: 20px;
    background-color: gray;
    padding: 8px 36px 8px 36px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#f{
    margin-top: 10px;
    margin-right: 20px;
    background-color: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 6px;
    align-items: center;
}