body{
    background-image: url(img/pexels-fwstudio-168448.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
h2{
    text-align: center;
}
table{
    border-collapse: collapse;
    text-align: left;
}
#head{
    text-align: center;
    background-color: greenyellow;
}
.black{
    background-color: black;
    color: white;
}
.teal{
    background-color: teal;
}
.blue{
    background-color: rgba(0, 0, 255, 0.733);
}
.navy{
    background-color: rgb(37, 37, 159);
}
.lime{
    background-color: lime;
}
.white{
    background-color: white;
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}
.olive{
    background-color: olive;
}
.red{
    background-color: red;
}
.gray{
    background-color: gray;
}
.fuchsia{
    background-color: fuchsia;
}
.green{
    background-color: green;
}
#table2{
    border-collapse: collapse;
    text-align: center;
}
#black{
    color: black;
}
#teal{
    color: teal;
}
#blue{
    color: blue;
}
#navy{
    color: navy;
}
#lime{
    color: lime;
}
#white{
    color: white;
}
#purple{
    color: purple;
}
#yellow{
    color: yellow;
}
#olive{
    color: olive;
}
#red{
    color: red;
}
#gray{
    color: gray;
}
#fuchsia{
    color: fuchsia;
}
#green{
    color: green;
}
#aqua{
    color: aqua;
}
#silver{
    color: silver;
}