body{
    background-image: url(img/dark\ wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bigbox{
    background-color: aliceblue;
    width: 800px;
    margin: 100px 100px;
}
img{
    width: 800px;
    height: 500px;
}
h1{
    text-align: center;
}
p{
    padding: 10px 10px 10px 10px;
}
a:link{
    padding-left: 10px;
}
